%ul.nav.nav-tabs.nav-justified
  %li.panel.panel-primary= link_to 'トップ', root_path
  - if user_signed_in? 
    %li.panel.panel-primary= link_to '発注', "/users/#{current_user.id}/orders"
    %li.panel.panel-primary= link_to '発注メモ', "/users/#{current_user.id}/memos"
    %li.panel.panel-primary= link_to '仕入先', '/suppliers'
    %li.panel.panel-primary= link_to '原価計算', "/users/#{current_user.id}/calculations"
    %li.panel.panel-primary= link_to 'カレンダー', "/users/#{current_user.id}/carenders"
    %li.panel.panel-primary=link_to "ログアウト", destroy_user_session_path, method: :delete
  - elsif supplier_signed_in? 
    %li.panel.panel-primary= link_to '発注表', "/suppliers/#{current_supplier.id}/products"
    %li.panel.panel-primary=link_to "ログアウト", destroy_supplier_session_path, method: :delete
  - else
    %li.panel.panel-primary= link_to 'ログイン', new_user_session_path
    %li.panel.panel-primary= link_to "新規登録", new_user_registration_path
    