.container
  .row
    .col
      .col.panel.panel-primary
        %h3.text-center.text-primary 注文確認画面
        %table.table
          %tr.pull-right
            %th.text-primary.text-right 取引先：
            %th.text-success= @order.user.email  
      .col
        = form_with model:[@supplier, @confirm_order], url: "/suppliers/#{current_supplier.id}/confirm_orders/#{@order.id}", local:true do |form|
          = form.hidden_field :supplier_id, value: current_supplier.id
          = form.hidden_field :user_id, value: @order.user.id
          = form.hidden_field :order_id, value: @order.id
          .col.pull-right{ style: "margin:1%"}
            = form.label :納品日：, class: "text-primary"
            = form.date_field :delivery_date, value: @confirm_order.delivery_date
          %table.table.table-bordered{ style: "margin:1%"}
            %thread
              %tr
                %th.text-center.text-primary 商品名
                %th.text-center.text-primary 単価
                %th.text-center.text-primary 数量
                %th.text-center.text-primary 単位 
                %th.text-center.text-primary 小計
            %tbody
              - @confirm_order_details.each do |confirm| 
                = fields_for "confirm_order_details[]", confirm, index: nil  do |f|
                  %tr
                    %td.text-center.text-primary
                      = confirm.product_name
                    %td.text-center.text-primary{ style: "width: 10%"} 
                      = "#{confirm.unit_price}円"
                    %td.text-center.text-primary{ style: "width:10%"}
                      = confirm.quantity
                    %td.text-center.text-primary{ style: "width: 20%"} 
                      = confirm.product_unit
                    %td.text-center.text-primary{ style: "width:10%"} 
                      = "#{confirm.calculate_confirm_order_detail_total_price}円"
                  = f.hidden_field :confirm_order_id, value: @confirm_order.id
                  = f.hidden_field :product_name, value: confirm.product_name
                  = f.hidden_field :quantity, value: confirm.quantity
                  = f.hidden_field :unit_price, value: confirm.unit_price
                  = f.hidden_field :product_unit, value: confirm.product_unit
          .col.pull-right
            = form.submit "受注確定",class: "btn btn-info "
          %table.table{ style: "margin: 2%"}
            %tr.pull-right{ style: "font-size: 20px"}
              %th.text-primary.text-right 合計金額：
              %th.text-primary
                = "#{@confirm_order.calculate_confirm_order_total_price}円" 
