.container
  .row
    .col
      .col.text-center
        %h2.text-primary 受注一覧
        -if @count == 0
          %h4.text-danger 新規の注文はありません
        - @notifications.each do |notification|
          %h4.text-info.center-block{ style: "width: 50%"}
            %table.table
              %thread
                %tr
                  %th
                    = link_to "#{notification.user.name}/#{notification.order.delivery_date}", "/suppliers/#{current_supplier.id}/confirm_orders/show/#{notification.order.id}"
      .col.text-right
        = link_to "トップページへ戻る", root_path, class:"btn btn-primary"