%ul.nav.nav-tabs.nav-justified
  %li.panel.panel-primary= link_to 'トップ', '#'
  %li.panel.panel-primary= link_to '発注', '#'
  %li.panel.panel-primary= link_to '発注メモ', '#'
  %li.panel.panel-primary= link_to '仕入先', '#'
  %li.panel.panel-primary= link_to '原価計算', '#'
  %li.panel.panel-primary= link_to 'カレンダー', '#'
  %li.panel.panel-primary= link_to 'ログイン', '#'

