.container
  .row
    .col
      .col
        %table.table
          %tr
            %th.text-primary.text-right 取引先：
            %th.text-success=@supplier.email
      .col
        = form_with model:[@user, @order], url: "/users/#{current_user.id}/orders/#{@supplier.id}/confirm", local:true do |form|
          = form.hidden_field :supplier_id, value: @supplier.id
          = form.hidden_field :user_id, value: current_user.id
          .col.text-right
            = form.label :納品日：, class: "text-primary "
            = form.date_field :delivery_date, value: Time.now.strftime("%Y-%m-%d")
          %table.table.table-bordered{ style: "margin:1%"}
            %thread
              %tr
                %th.text-center.text-primary 商品名
                %th.text-center.text-primary 単価（円）
                %th.text-center.text-primary 数量
                %th.text-center.text-primary 単位   
            %tbody
              - @order_details.each do |order_detail| 
                = fields_for "order_details[]", order_detail, index: nil  do |f|
                  - @products.each do |product|
                    %tr
                      %td.text-center.text-primary
                        = product.name
                      %td.text-center.text-primary{ style: "width: 10%"} 
                        = product.price
                      %td.text-center.text-primary{ style: "width:10%"}
                        = f.text_field :quantity, class: "form-control"
                      %td.text-center.text-primary{ style: "width: 20%"} 
                        = product.unit
                        = f.hidden_field :product_id, value: product.id
                        = f.hidden_field :order_id, value: @order.id
                        = f.hidden_field :unit_price, value: product.price
          .col.pull-right
            = form.submit "確認",class: "btn btn-info "
          