.container
  .row
    .col
      .col.text-primary.text-center
        %p 仕入先
      .col.text-primary.text-center
        = @supplier.email
      = form_with model:[@user,@order], url: user_orders_path, method: :post do |form|
        %table.table.table-bordered{ style: "margin:1%"}
          %thread
            %tr
              %th.text-center.text-primary 商品名
              %th.text-center.text-primary 単価（円）
              %th.text-center.text-primary 数量
              %th.text-center.text-primary 単位   
          %tbody
            = form.fields_for :order_details do |f|
              - @products.each do |product|
                %tr
                  %td.text-center.text-primary
                    = product.name
                  %td.text-center.text-primary{ style: "width: 10%"} 
                    = f.text_field :unit_price, value: product.price, readonly: true
                  %td.text-center.text-primary{ style: "width:10%"}
                    = f.text_field :quantity, class: "form-control"
                  %td.text-center.text-primary{ style: "width: 20%"} 
                    = product.unit
                    = f.hidden_field :product_id, value: product.id
        = form.submit "確認"
          