.container
  .row
    .col{ style: "margin: 20px"}
      .col.panel.panel-primary.center-block{ style: "width: 50%"}
        = form_with model: @supplier, locale: true, class: "form-horizontal" do |f|
          .form-group.text-center
            = f.label :仕入先：, class: "text-primary"
            = f.text_field :name, class: "form-control center-block", style: "width: 50%"
          .form-group.text-center
            = f.label :電話番号：, class: "text-primary "
            = f.telephone_field :telephone, class: "form-control center-block", style: "width: 50%"
          .form-group.text-center
            = f.label :ホームページ：, class: "text-primary"
            = f.url_field :website, class: "form-control center-block", style: "width: 50%"
          .form-group.text-center
            = f.label :担当者：, class: "text-primary"
            = f.text_field :pic, class: "form-control center-block", style: "width: 50%"
          .form-group.text-center
            = f.submit "追加", class: 'btn btn-primary btn-lg '
