.container
  .row
    .col
      .panel.panel-primary
        .panel-heading 
          %h2.text-center 未受領伝票一覧
        - if @count == 0
          %h4.text-center.text-danger 未受領の伝票はありません
        - @notifications.each do |notification|
          .panel.panel-body
            %h4.text-center
              = link_to "#{notification.supplier.name}：#{notification.confirm_order.delivery_date}", "/users/#{current_user.id}/receipts/#{notification.confirm_order.id}"