.container
  .row.justify-content-center{ style: "margin: 5%"}
    .col.panel.panel-primary{ style: "width: 80vw"}
      = form_with(model: [@user,@memo], local: true )do |f|
        .form-group.text-center
          %h2.col.center-block{ style: "margin: 1%"}
            = f.label :メモ帳, class: "text-primary"
          = f.text_area :memo, class: "form-control center-block", style: "width: 80%", size: "30x20", id: "content"
        .form-group.text-center
          = f.datetime_select :start_time, class: "form-control"
        .form-group.text-center
          = f.submit "登録", class: 'btn btn-primary btn-lg '
          = f.label "音声", class: 'btn btn-warning btn-lg ',id: "btn"
          = link_to "戻る", user_memos_path(current_user.id), class: "btn btn-danger btn-lg"

