.container
  .row{ style: "margin: 20px"}
    .col.text-center.center-block.panel.panel-primary{ style: "width:50vw" }  
      = month_calendar events: @memos do |date, memos| 
        .col
          = date.day
        - memos.each do |memo|
          = link_to "メモ", "/users/#{current_user.id}/memos/#{memo.id}"
    .col.text-center.center-block.panel.panel-primary{ style: "width:50vw" }
      .col{ style: "margin: 50px"}
        =link_to "メモを取る", "/users/#{current_user.id}/memos/new", class: "btn-lg btn-primary btn-block" 
      .col{ style: "margin: 50px"}
        = link_to "戻る", root_path, class: "btn-lg btn-primary btn-block" 
      
