!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChefsOfficeWork
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'top/head_tabs'
    - if user_signed_in?
      .col{ style: "margin: 1%"}
        %h4.text-right.text-info
          = "#{current_user.name}：様"
    - if supplier_signed_in?
      .col{ style: "margin: 1%"}
        %h4.text-right.text-info
          = "#{current_supplier.name}：様"
    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger"  if key == "alert"
      = content_tag :div, value, class: "alert alert-#{key} text-center"
   
    = yield
    
    